* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

header {
    width: 100%;
    height: 80px;
    position: fixed;
    background-color: #333; /* Añade un color de fondo al encabezado */
    padding-top: 5px;
    padding-bottom: 5px;
}

.container__menu {
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; /* Agrega espaciado interno */
}
.logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 80 px;
    height: 80 px;
    padding: 0 10 0 10px;
    
}

.menu{
    display:flex ;/*Alineación horizontal*/
    flex-direction: row;
    text-align: center ;
    align-items: center;
}


.menu ul {
    display: flex;
    list-style: none;
}

.menu ul li {
    margin-left: 20px;
}

.menu ul li a {
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    transition: color 0.3s;
}

.menu ul li a:hover {
    color: #F6615D;
}

.containerTranslate {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	z-index: 1;
}

.containerTranslate:hover .dropdown-content {
	display: block;
}

.container_description{
    padding-top: 250px;
    display: flex;
    flex-direction: column;
}
.sliderimage{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


.footertext{
    font-size: 12 rem;
}
.menutext_footer{}