@import url(https://necolas.github.io/normalize.css/8.0.1/normalize.css);

body {
    font-family: 'Source Sans Pro', sans-serif;
}

* {
    box-sizing: border-box;
}

header {
    background-color: #333;
    height: 110px;
    padding: 10px 0;
}

a {
    text-decoration: none;
}

.logo {
    width: 80 px;
}

.logo img {
    width: 80px;
}

nav {
    width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.containerTranslate {
    margin-top: 25px;
    position: relative;
}

.selectedLanguage {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    line-height: 2;
    width: 100px;
}

.selectedLanguage::before {
    content: '';
    display: block;
    width: 32px;
    height: 32px;
    background-image: url(https://flagsapi.com/BR/flat/32.png);
}

.containerTranslate ul {
    margin 0;
    padding 0;
    background-color: #fff;
    border: 1px solid #f8f8f8;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    display: none;
    position: absolute;
    top: 25px;
    left: 0;
}

.containerTranslate ul li {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.containerTranslate ul li a {
    width: 140px;
    display: block;
    padding: 5px 10px;
}

.containerTranslate ul li a:before {
    content: '';
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 10px;
    vertical-align: middle;
}

.containerTranslate ul li a:hover {
    background-color: #f2f2f2;
}

.sp:before {
    background-image: url(https://flagsapi.com/PY/flat/32.png);
}

.en:before {
    background-image: url(https://flagsapi.com/US/flat/32.png);
}

.br:before {
    background-image: url(https://flagsapi.com/BR/flat/32.png);
}

.containerTranslate:hover ul {
    display: block;
}

.container_description {
    padding-top: 250px;
    display: flex;
    flex-direction: column;
}

.sliderimage {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


.footertext {
    font-size: 12 rem;
}